/* Moving body towards the center and look proportional */
body {
  display: flex;

  height: 110vh;

  justify-content: center;
  align-items: center;

  
  background-image: url('https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2131&q=80');
  background-size: cover;
  background-position: center;
    
  
 /* Position image in the top-right corner of the element. */
  background-position: top-right;
}  
 
/* Resets and Side Code */
body {
  margin: 0;

  font-size: 40px;
  font-variant: small-caps;
  letter-spacing: 0.2em;
}

/* Making text shadow, outlined and giving font, font colour, and size */
h1 {
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow: 3px 3px 3px #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  
  font-family: 'Rubik', sans-serif;
  font-size: 75px;
}

/* Centering text and removing margin from tagline */
h1 {
  text-align: center;
  
  margin-bottom: 0; 
}
 
/* Changing font and font sizes of heading and making it stand out */
.hero-text p {
  -webkit-text-stroke: .5px black; 
  color: white;
  text-shadow: 2px 1px 2px #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  
  font-family: 'Rock Salt', cursive;
  font-size: 30px;
}

/* Positioning text where I want it to be */
.hero-text p {
  margin: 0; 
  padding: 1rem 3rem;  
  
  text-align: center; 
}

/* Changing text color in form and font */
p {
  color: black;
  
  font-family: 'Fjalla One', sans-serif;
}

/* Positioning text where I want it to be on the form */
p {
  margin: 0;  
  padding: 1rem 2rem; 
  text-align: center;
}

/* Form styles */
legend {
  border-top: 2px solid black;
  color: black;
  
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  
  text-align: center;
}

form {
  width: 60ch;
  margin: auto;
  
  border: 2px solid black;
  border-radius: 1rem;
}
  
/* Text fields, giving the input bars more width */
.text-fields p {
  display: flex;
}

.text-fields p label {
  width: 13ch;
}

.text-fields p input {
  flex: 1;
}

fieldset select {
  padding: 2px 12px;
  font-size: 1rem;
  border: 2px solid black; 
}

fieldset checkbox {
  border: 2px solid black;
}

/* Submit, giving it hover and active, positioning it and also changing fonts and colours of the button */
footer {
  text-align: center;
}

button:hover {
  background-color: black;
  color: red; 
  border: 1px solid red;
}

button:active {
  transform: scale(1);
}

button {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  
  padding: 0.2rem;
  border: 2px solid black;
  cursor: pointer;
}

/* Taking off border inside form, changing font size and giving input borders */
fieldset {
  border: none;
}

form {
  opacity: 0.9;
  background-color: darkgrey;
  font-size: 25px;
}

input {
  border: 2px solid black;
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;
  }
}  

@media (max-width: 600px) {
  .container {
    height: 100vh;
    width: 100%;
  }
}
